__pycache__/
.pylint.d/
results/*
!results/final_results
results/final_results/*
!results/final_results/v1_0_0_settings
!results/final_results/v1_0_1_settings
results/final_results/v1_0_1_settings/*
!results/final_results/v1_0_1_settings/batch_normalization
!results/final_results/v1_0_1_settings/layer_normalization
!results/final_results/v1_0_1_settings/none_normalization
*.pdf
!results/final_results/v1_0_0_settings/*.pdf
!results/final_results/v1_0_1_settings/batch_normalization/*.pdf
!results/final_results/v1_0_1_settings/layer_normalization/*.pdf
!results/final_results/v1_0_1_settings/none_normalization/*.pdf
*.log
*.pkl
radam.py
